body {
background: url(images/bg.png);
margin: 0;
padding: 0;
color: #333333;
font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
}

p {
line-height: 10px;
}

a { color: #fff; font-weight: bold; text-decoration: none; }

p.littl { font-size: 12px; line-height: 13px;}

#all {
width: 1328px;
height: auto;
margin-left: 1%;
margin-right: 1%;
}

#box {
border: 1px solid #b5b5b5;
width: 304px;
height: 508px;
background: url(images/box_x.png) repeat-x;
float: left;
margin-left: 20px;
margin-top: 20px;
display: inline;
}

.span3 {
  width: 304px;
}

.buttoninside {
padding-left: 25px;
padding-top: 6px;
margin-left: 105px;
margin-top: 33px;
width: 70px;
height: 35px;
background: url(images/btn.png) repeat-x;
}

.tootepilt {
margin: 14%;
}

.ylatext {
margin-top: 2%;
color: #001364;
font-size: 26px;
font-weight: bold;
}

.alatext {
color: #001364;
font-size: 16px;
font-weight: bold;
margin-bottom: 20px;
}

h3 {
font-size: 18px;
margin-left: 30px;
color: #001364;
}

#textinfo {
font-size: 12px;
margin-left: 10%;
margin-right: 10%;
line-height: 12px;
color: #001364;
font-weight: bold;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.big_link_span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

.modal {
    top: 10px;
    right: 10px;
    left: 10px;
}

.modal-header .close {
padding: 10px;
margin: -10px;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
